<%= link_to "Add New Document", new_document_path, class: "btn btn-primary" %>

<% if @documents.present? %>
  <h2>My Documents</h2>

  <% @documents.each do |doc| %>
    <p>
      <%= doc.title %> - 
      <%= link_to "Delete", document_path(doc), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> |
      <%= link_to "Share", public_document_url(doc.share_token), target: "_blank" %>
    </p>
  <% end %>
<% else %>
  <p>No documents found.</p>
  <%= link_to "Add New Document", new_document_path, class: "btn btn-primary" %>
<% end %>
